{% extends "layouts/default.njk" %} {% block content %}


<main class="main">
  <div class="container">
    <div class="top-block">
      {% include "_partials/header.njk" %}
      <div class="breadcrumbs">
        <ul>
          <li>
            <a href="">главная</a>
          </li>
          <li>
            о магазине
          </li>
        </ul>
      </div>
      <a href="" class="back-link"><svg class="back-arrow">
          <use xlink:href="#arrow-icon"></use>
        </svg>на главную</a>
      <h1>О магазине</h1>
    </div>

    <section class="main-block">
      <div class="column-content">
        <div class="main-column">
          <div class="article-content">
            <p>Компания Golder Electronics начала свою деятельность в 1993 году и в настоящее время занимает лидирующее положение на российском рынке среди компаний-продавцов бытовой техники. Основным направлением деятельности компании является продажа и обслуживание малой бытовой и аудио-видеотехники. В портфеле компании - бренды VITEK, Röndell, Maxwell, Coolfort, WINX by VITEK, Maxwell: Моя любимая кухня.</p>
            <p>Официальный интернет магазин Golder Electronics открылся специально для комфорта пользователей и потребителей: теперь он представляет технику и посуду всех брендов компании. Таким образом, на одной площадке собран весь ассортимент продукции Golder Electronics , что позволит потребителю выбрать товар в разном ценовом диапазоне.</p>
            <p>С момента открытия GolderMall.ru на сайтах брендов компании больше не будет встроенного интернет магазина - cсылки на покупку товаров по картам теперь ведут на GolderMall.ru</p>
            <p>Новый интернет-магазин GolderMall.ru обеспечен удобной навигацией и современным интерфейсом, что поможет легко совершить желаемую покупку: Вы можете оформить заказ на весь имеющийся товар в наличии, зайдя в каталог товара. Вся представленная продукция, является оригинальной, компания гарантирует подлинность и высокое качество товара, подтверждённое сертификатами и декларациями. Таким образом, покупатель получает товар высокого качества по РРЦ (рекомендованной розничной цене от производителя).</p>
            <p>Официальный интернет магазин компании Golder Electronics - это забота о комфорте нашего потребителя.</p>
          </div>          
        </div>
        <div class="side-column">
          <div class="contact-column">
            <h4>Контактная информация:</h4>
                <p><strong>Телефон:</strong></p>
                <p>+7 (495) 212-07-11</p>
                <br>
                <br>
                <p><strong>E-mail:</strong></p>
                <p><a href="mailto:support@goldermall.ru">support@goldermall.ru</a></p>
                <br>
                <br>
                <p><strong>Адрес офиса:</strong></p>
                <p>143900 МО, г Балашиха, Западная коммунальная зона, Шоссе Энтузиастов 1А, 2 этаж</p>    
                <br>
                <br>
                <p><strong>Режим работы:</strong></p>
                <p>Режим работы интернет-магазина: пн-пт 09:00-18:00</p>
                <p>Доставка осуществляется: пн-сб с 9:00 до 18:00</p>
                <br>
                <br>
                <a href="" class="dashed-link show-rekvizit">Реквизиты компании</a>
                <div class="rekvizit-block">
                  <p>Реквизиты компании</p>
                  <p>Реквизиты компании</p>
                  <p>Реквизиты компании</p>
                </div>
          </div>
        </div>
      </div>
    </section>
    
  </div>
</main>

{% endblock %}