{% extends "layouts/default.njk" %} {% set main = true %} {% block content %}


<main class="main">
  <div class="container">
    <div class="top-block">
      {% include "_partials/header.njk" %}
      <div class="breadcrumbs">
        <ul>
          <li>
            <a href="">главная</a>
          </li>
          <li>
            Бренды
          </li>
        </ul>
      </div>
      <a href="" class="back-link">
        <svg class="back-arrow">
          <use xlink:href="#arrow-icon"></use>
        </svg>назад</a>
      <h1>Бренды</h1>
    </div>

    <section class="main-block">
      <div class="brand-block rondell">
        <div class="brand-image">
          <img src="images/rondel-logo.png" alt="">
        </div>
        <div class="brand-article">
          Бренд Röndell - производитель посуды и аксессуаров высокого класса - на мировом рынке профессиональной посуды с 1988 года,
          на рынке России – с 2006 года. За время своей деятельности бренд стал признанным экспертом в области разработки
          ее дизайна и технологий. Röndell – пятикратный обладатель наград «Брэнд года-Effie» (в 2007, 2008, 2009, 2010 и
          2011 годах). Две коллекции посуды бренда Röndell – Vintage, Mocco&Latte, кухонные аксессуары и формы для выпечки
          коллекции Champagne - получили престижные награды в рамках ежегодного международного конкурса промышленного дизайна
          «KITCHEN INNOVATION DESIGN» в 2012, 2013 гг. Премия «Новинка» вручена бренду на международной выставке «HOUSEHOLD
          ВЕСНА – 2012». Каждая коллекция посуды Röndell – это уникальное сочетание инновационных технологий и элегантного
          дизайна, что вкупе дает возможность легко и комфортно создавать кулинарные шедевры любой сложности и украсить интерьер.
          Миссия бренда: «Сочетая новейшие технологии с благородными традициями, изысканным дизайном и безусловным качеством,
          Röndell открывает мир Высокой кухни». Röndell – это технологии, стиль и вдохновение каждого Вашего дня!
        </div>
      </div>
    </section>

    <div class="brands-catalog">
      <h2>Каталог продукции Röndell</h2>
      <div class="catalog-block">
        <div class="catalog-item technic">
          <a href="">
            <img src="images/category1.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Воки</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
        <div class="catalog-item kitchen">
          <a href="">
            <img src="images/category2.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Кастрюли</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
        <div class="catalog-item kitchen">
          <a href="">
            <img src="images/category3.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Ковши</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
        <div class="catalog-item kitchen">
          <a href="">
            <img src="images/category4.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Крышки для посуды</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
        <div class="catalog-item technic">
          <a href="">
            <img src="images/category5.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Воки</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
        <div class="catalog-item kitchen">
          <a href="">
            <img src="images/category6.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Воки</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
        <div class="catalog-item technic">
          <a href="">
            <img src="images/category1.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Воки</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
        <div class="catalog-item kitchen">
          <a href="">
            <img src="images/category2.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Кастрюли</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
        <div class="catalog-item technic">
          <a href="">
            <img src="images/category3.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Ковши</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
        <div class="catalog-item kitchen">
          <a href="">
            <img src="images/category4.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Крышки для посуды</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
        <div class="catalog-item technic">
          <a href="">
            <img src="images/category5.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Воки</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
        <div class="catalog-item kitchen">
          <a href="">
            <img src="images/category6.png" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Воки</div>
            <div class="models-count">10 моделей</div>
            <div class="catalog-item--price">2990 - 5390 ₽</div>
          </a>
        </div>
      </div>
    </div>



  </div>
</main>

{% endblock %}