{% extends "layouts/default.njk" %} {% set main = true %} {% block content %}


<main class="main">
  <div class="container">
    <div class="top-block">
      {% include "_partials/header.njk" %}
      <div class="breadcrumbs">
        <ul>
          <li>
            <a href="">главная</a>
          </li>
          <li>
            Бренды
          </li>
        </ul>
      </div>
      <a href="" class="back-link"><svg class="back-arrow">
          <use xlink:href="#arrow-icon"></use>
        </svg>на главную</a>
      <h1>Бренды</h1>
    </div>

    <section class="main-block transparent-block">
      <div class="brands-list">
        <div class="brand-item vitek-item">
          <div class="brand-image">
            <a href=""></a>
            <svg class="vitek-logo">
              <use href="#vitek-logo" />
            </svg>
          </div>
          <div class="brand-text">
            VITEK - ведущий в России бренд мелкой бытовой техники и электроники. Созданный в 2000 году, за время своего присутствия на
            рынке бренд VITEK уже успел завоевать народную любовь высоким качеством продукции, что подтверждается многочисленными
            победами в престижных конкурсах.
          </div>
          <a href="" class="link-more">Подробнее</a>
        </div>
        <div class="brand-item rondell-item">
          <div class="brand-image">
            <a href=""></a>
            <img src="images/rondel-logo.png" alt="">
          </div>
          <div class="brand-text">
            Бренд Röndell - производитель посуды и аксессуаров высокого класса - на мировом рынке профессиональной посуды с 1988 года,
            на рынке России – с 2006 года. За время своей деятельности бренд стал признанным экспертом в области разработки
            ее дизайна и технологий. Röndell – пятикратный обладатель наград «Брэнд года-Effie».
          </div>
          <a href="" class="link-more">Подробнее</a>
        </div>
        <div class="brand-item maxwell-item">
          <div class="brand-image">
            <a href=""></a>
            <img src="images/maxwell-logo.png" alt="">
          </div>
          <div class="brand-text">Maxwell – это коллекция классической бытовой техники, отличающаяся при доступной цене своей надежностью и качеством, отвечающая ожиданиям потребителей и радующая простотой, безопасностью и комфортом использования. </div>
          <a href="" class="link-more">Подробнее</a>
        </div>
      </div>
    </section>

  </div>
</main>

{% endblock %}