{% extends "layouts/default.njk" %} {% block content %}


<main class="main">
  <div class="container">
    <div class="top-block">
      {% include "_partials/header.njk" %}
      <div class="breadcrumbs">
        <ul>
          <li>
            <a href="">главная</a>
          </li>
          <li>
            Техника для дома
          </li>
        </ul>
      </div>
      <a href="" class="back-link">
        <svg class="back-arrow">
          <use xlink:href="#arrow-icon"></use>
        </svg>назад</a>
      <h1>Техника для дома</h1>
    </div>

    <section class="main-block transparent-block">
      <div class="category-group category-group-4">
        <div class="category-group__item">
          <a href=""></a>
          
          <img src="images/cat6.jpg" class="" alt="">
         
          <div class="category-group__title">Уход за домом</div>
        </div>
        <div class="category-group__item">
          <a href=""></a>
          
          <img src="images/cat7.jpg" class="" alt="">
         
          <div class="category-group__title">Уход за одеждой</div>
        </div>
        <div class="category-group__item">
          <a href=""></a>
          
          <img src="images/cat8.jpg" class="" alt="">
        
          <div class="category-group__title">Климатическая техника</div>
        </div>
        <div class="category-group__item">
          <a href=""></a>
         
          <img src="images/cat9.jpg" class="" alt="">
          
          <div class="category-group__title">Поративное аудио</div>
        </div>
      </div>
    </section>

  </div>
</main>

{% endblock %}