{% extends "layouts/default.njk" %} {% set main = true %} {% block content %}


<main class="main">
  <div class="container">
    <div class="top-block">
      {% include "_partials/header.njk" %}
      <div class="breadcrumbs">
        <ul>
          <li>
            <a href="">главная</a>
          </li>
          <li>
              Доставка
          </li>
        </ul>
      </div>
      <a href="" class="back-link">на главную</a>
      <h1>Доставка</h1>
    </div>

    <section class="main-block">
      <div class="page-nav">
        <ul>
          <li>
            <a href="">Оплата</a>
          </li>
          <li class="active">
            <a href="">Доставка</a>
          </li>
          <li>
            <a href="">Информация для покупателей</a>
          </li>
        </ul>
      </div>
      <div class="article-content">
        <p>В нашем магазине существует 3 вида доставки.</p>

        <p>
          <strong>1. Доставка по Москве в пределах МКАД.</strong>
          <br>
          <strong>
            <span style="color:#bd1547">Бесплатная доставка по городу Москва в пределах МКАД при заказе на сумму от 3000 рублей.</span>
          </strong>
          <br> Цена доставки по городу Москва в пределах МКАД составляет 350 рублей, если сумма стоимости заказа менее 3000 рублей.
          <br> Доставка по городу Москва, в пределах МКАД осуществляется с понедельника по субботу. Временной интервал доставки:
          с 10 до 14 и с 14 до 18.</p>

        <p>
          <strong>2. Доставка за пределы МКАД.</strong>
          <br> Цена доставки за пределы МКАД рассчитывается исходя из стоимости доставки по городу Москва и стоимости одного
          км. За пределы МКАД 20 рублей.
          <br> Доставка за пределы МКАД осуществляется с понедельника по четверг. Временной интервал доставки: с 10 до 18.</p>

        <p>
          <strong>3. Доставка в регионы России.</strong>
          <br> Цена доставки в регионы России рассчитывается индивидуально для каждого города. Минимальная стоимость доставки
          составляет 450 рублей.
          <br> Доставка осуществляется только по 100% предоплате товара.
          <br> Доставка в регионы России осуществляется транспортной компанией ПЭК. Дни отправок вторник, четверг. </p>
      </div>
    </section>

  </div>
</main>

{% endblock %}