{% extends "layouts/default.njk" %} {% set profile = true %} {% block content %}


<main class="main">
  <div class="container">
    <div class="top-block">
      {% include "_partials/header.njk" %}
      <div class="breadcrumbs">
        <ul>
          <li>
            <a href="">главная</a>
          </li>
          <li>
            Личный кабинет
          </li>
        </ul>
      </div>
      <a href="" class="back-link">
        <svg class="logout-icon">
          <use xlink:href="#logout-icon"></use>
        </svg>Выйти</a>
      <h1>Личный кабинет</h1>
    </div>

    <section class="main-block">
      <div class="page-nav">
        <ul>
          <li>
            <a href="profile.html">Профиль</a>
          </li>
          <li class="active">
            <a href="history.html">История заказов</a>
          </li>
        </ul>
      </div>
      <div class="article-content">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading active" role="tab" id="headingOne">
              <a class="heading-link" data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"></a>
              <div class="order-info">
                <div class="order-number">
                  <span>
                    № 1234567890
                  </span>
                </div>
                <div class="order-date">от 15.06.2017</div>
                <div class="order-price">Стоимость заказа: 123456789 ₽ </div>
                <div class="order-status">Статус заказа:
                  <span class="status-process">В обработке</span>
                </div>
              </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="order-table">
                    <tr>
                      <th></th>
                      <th>наименование</th>
                      <th>цена</th>
                      <th>количество</th>
                      <th>сумма</th>
                    </tr>
                    <tr>
                      <td data-th="Наименование">
                        <img class="order-image" src="images/order1.jpg" alt="">
                      </td>
                      <td>Пылесос с аквафильтром VITEK VT-1835 B</td>
                      <td data-th="Цена">8990 ₽</td>
                      <td data-th="Количество">100</td>
                      <td data-th="Сумма">899000 ₽</td>
                    </tr>
                    <tr>
                      <td data-th="Наименование">
                        <img class="order-image" src="images/order2.jpg" alt="">
                      </td>
                      <td>Набор посуды Röndell Flamme 8 предметов RDS-040 </td>
                      <td data-th="Цена">8990 ₽</td>
                      <td data-th="Количество">100</td>
                      <td data-th="Сумма">899000 ₽</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <a class="heading-link" data-toggle="collapse" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"></a>
              <div class="order-info">
                <div class="order-number">
                  <span>
                    № 1234567890
                  </span>
                </div>
                <div class="order-date">от 15.06.2017</div>
                <div class="order-price">Стоимость заказа: 123456789 ₽ </div>
                <div class="order-status">Статус заказа:
                  <span class="status-success">Выполнен</span>
                </div>
              </div>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <div class="table-responsive">
                  <table class="order-table">
                    <tr>
                      <th></th>
                      <th>наименование</th>
                      <th>цена</th>
                      <th>количество</th>
                      <th>сумма</th>
                    </tr>
                    <tr>
                      <td data-th="Наименование">
                        <img class="order-image" src="images/order1.jpg" alt="">
                      </td>
                      <td>Пылесос с аквафильтром VITEK VT-1835 B</td>
                      <td data-th="Цена">8990 ₽</td>
                      <td data-th="Количество">100</td>
                      <td data-th="Сумма">899000 ₽</td>
                    </tr>
                    <tr>
                      <td data-th="Наименование">
                        <img class="order-image" src="images/order2.jpg" alt="">
                      </td>
                      <td>Набор посуды Röndell Flamme 8 предметов RDS-040 </td>
                      <td data-th="Цена">8990 ₽</td>
                      <td data-th="Количество">100</td>
                      <td data-th="Сумма">899000 ₽</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <a class="heading-link" data-toggle="collapse" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree"></a>
              <div class="order-info">
                <div class="order-number">
                  <span>
                    № 1234567890
                  </span>
                </div>
                <div class="order-date">от 15.06.2017</div>
                <div class="order-price">Стоимость заказа: 123456789 ₽ </div>
                <div class="order-status">Статус заказа:
                  <span class="status-cancel">Отменен</span>
                </div>
              </div>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">

                <table class="order-table">
                  <tr>
                    <th></th>
                    <th>наименование</th>
                    <th>цена</th>
                    <th>количество</th>
                    <th>сумма</th>
                  </tr>
                  <tr>
                    <td data-th="Наименование">
                      <img class="order-image" src="images/order1.jpg" alt="">
                    </td>
                    <td>Пылесос с аквафильтром VITEK VT-1835 B</td>
                    <td data-th="Цена">8990 ₽</td>
                    <td data-th="Количество">100</td>
                    <td data-th="Сумма">899000 ₽</td>
                  </tr>
                  <tr>
                    <td data-th="Наименование">
                      <img class="order-image" src="images/order2.jpg" alt="">
                    </td>
                    <td>Набор посуды Röndell Flamme 8 предметов RDS-040 </td>
                    <td data-th="Цена">8990 ₽</td>
                    <td data-th="Количество">100</td>
                    <td data-th="Сумма">899000 ₽</td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
        <div class="pagination">
          <ul class="left-align">
            <li class="active">
              <a href="">1</a>
            </li>
            <li>
              <a href="">2</a>
            </li>
            <li>
              <a href="">3</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

  </div>
</main>

{% endblock %}