{% extends "layouts/default.njk" %} {% set main = true %} {% block content %}


<main class="main">
  <div class="container">
    <div class="top-block">
      {% include "_partials/header.njk" %}
      <div class="breadcrumbs">
        <ul>
          <li>
            <a href="">главная</a>
          </li>
          <li>
              Информация для покупателей
          </li>
        </ul>
      </div>
      <a href="" class="back-link">
        <svg class="back-arrow">
          <use xlink:href="#arrow-icon"></use>
        </svg>
        на главную</a>
      <h1>Информация для покупателей</h1>
    </div>

    <section class="main-block">
      <div class="page-nav">
        <ul>
          <li>
            <a href="">Оплата</a>
          </li>
          <li>
            <a href="">Доставка</a>
          </li>
          <li class="active">
            <a href="">Информация для покупателей</a>
          </li>
        </ul>
      </div>
      <div class="article-content">
        <h6>Основные пункты, которые нужно учесть покупателю в момент доставки и передачи товара.</h6>

        <p>Мы осуществляем доставку не только по Москве и Московской области, начиная с 20.01.2014, наш магазин начинает доставлять
          заказы в другие города России. Полный список городов можно найти перейдя по
          <a href="">ссылке</a>.</p>
        <p>Стоимость доставка по городу Москва в пределах МКАД 350руб.
          <br> Бесплатная доставка по городу Москва в пределах МКАД при заказе на сумму от 3000 рублей.</p>
        <p>Оформить заказ с доставкой в другие города России можно только через сайт. В момент оформления заказа система предложит
          два возможных способа оплаты, Наличными денежными средствами или с помощью безналичного расчета. Для оформления
          Вам потребуется выбрать безналичный способ оплаты, нажать кнопку далее и следовать инструкциям платежной системы,
          на которую Вас перенаправит сайт. Так же, убедительная просьба, указывайте город Доставки при оформлении заказа,
          в противном случае, к стоимости товара привяжется цена доставки.</p>
        <p>
          <strong>
            <span style="color: #d20131;">Важно!!!</span>
          </strong>
          <br> Доставки в другие города России мы осуществляем только по факту 100% предоплаты стоимости заказываемого товара.</p>
        <p>
          <strong>
            <span style="color: #d20131;">Важно!!!</span>
          </strong>
          <br>
          <strong>ПЕРЕД ТЕМ КАК ОФОРМИТЬ ЗАКАЗ, ОБЯЗАТЕЛЬНО!!! УТОЧНИТЕ НАЛИЧИЕ ТОВАРА В НУЖНОМ ВАМ КОЛИЧЕСТВЕ У МЕНЕДЖЕРА МАГАЗИНА. </strong>
          <ul>
            <li>Бесплатная доставка по городу Москва в пределах МКАД при заказе на сумму от 3000 рублей.</li>
            <li>В случае заказа на сумму менее 3000 рублей стоимость доставки составит 350 рублей.</li>
            <li>Цена доставки за приделы МКАД складывается из стоимости доставки по городу Москва в пределах МКАД и стоимости
              каждого километра от МКАД 20 рублей.</li>
            <li>
              <strong>Внимание!!!</strong>
              <br>Наш магазин осуществляет доставку за пределы МКАД только с понедельника по четверг в интервал с 10 до 18.</li>
            <li>Рассчитать стоимость доставки в другие города России Вы сможет, связавшись с нашим оператором.</li>
            <li>
              <strong>Важно!!!</strong>
              <br> В случае, если покупатель отказывается от заказа в момент его получения или после получения заказа (по причинам
              не связанным с качеством или работоспособностью заказываемого товара), покупатель должен оплатить полную стоимость
              доставки!!!.</li>
          </ul>
          <p>Наша курьерская служба доставит Вам товар в заранее оговоренный день и временной промежуток. В день получения заказа
            на Ваш телефонный номер поступит смс сообщение  с напоминанием о заказе и контактными данными водителя.
            <br> Водитель экспедитор транспортной компании  доставит Ваш заказа по указанному адресу.
            <br> Время ожидания водителя составляет 15 минут. В случае если за это время Вы не успеваете получить заказ, Ваш
            заказ будет аннулирован и возвращен на склад. Для повторного получения заказа необходимо будет оформить новый
            заказ и оплатить стоимость доставки за прошлый заказ.
            <br> Водитель экспедитор транспортной компании в момент передачи заказа обязан выдать Вам кассовый и товарный чек.
            Гарантийный талон и инструкция находятся в коробке с товаром. При получении заказа Вы в праве, распаковать заказ
            и ознакомиться с его содержимым, а так же проверить работоспособность доставляемого товара.</p>
          <p>
            <strong>
              <span style="color: #d20131;">Внимание!!!</span>
            </strong>
            <br> Наш магазин не рекомендует подключать к электропитанию заказанный товар при отрицательных значениях температуры
            окружающей среды.
            <br> Покупатель вправе отказаться от товара в любое время до его передачи Покупателю, а после передачи товара - в
            порядке, указанном в разделе «Условия обмена и возврата товара».</p>
          <h6>Условия оплаты товара</h6>
          <p>Заказы сделанные в нашем магазине Вы сможете оплатить двумя способами: наличными денежными средствами в момент
            получения заказа или безналичным расчетом в момент оформления заказа на сайте.</p>
          <p>
            <strong>Оплата наличными деньгами.</strong>
            <br> Оплата заказа происходит непосредственно в момент передачи заказа от водителя экспедитора к покупателю.</p>
          <p>
            <strong>Безналичный расчет.</strong>
            <br>Оплата заказа безналичным расчетом производится только на сайте магазина во время оформления заказа.</p>
          <h6>Условия возврата и обмена товара</h6>
          <p>В случае, если приобретенный Вами товар надлежащего качества по каким либо причинам не подходит для Вас, Вы можете
            отказаться от данного товара и потребовать возврата полной его стоимости (за исключением стоимости доставки)
            в течение семи календарных дней с момента получения. Что бы отказаться от товара нужно соблюдать следующие условия:</p>
          <ul>
            <li>
              <strong>В срок не позднее семи календарных дней</strong> после доставки заказа Вам нужно уведомить магазин об отказе
              от товара, связавшись с магазином по телефону указанному на сайте.</li>
            <li>Товар, от которого Вы намерены отказаться, должен быть товаром надлежащего качества, то есть не иметь никаких
              внешних дефектов (трещины, царапины, сколы, механические повреждения за исключением скрытых производственных
              дефектов).</li>
            <li>У товара должны отсутствовать следы эксплуатации, должен быть сохранен его внешний товарный вид, потребительские
              свойства, комплектация, пломбы, а так же упаковка.</li>
            <li>В момент возврата покупатель обязан передать продавцу все документы подтверждающие покупку, а так же гарантийный
              талон и инструкцию. В случае если в момент продажи к товару прилагался подарок, он так же должен быть возвращен
              продавцу.</li>
            <li>Список товаров надлежащего качества не подлежащих обмену и возврату, Вы сможете найти, перейдя по ссылке.</li>
          </ul>
          <p>В том случае если покупатель обменивает товар надлежащего качества, он обязан оплатить, стоимость доставки товара.
            Возврат и обмен товара надлежащего качества в срок превышающий 7 дней с момента покупки не допускается.
            <br> По вопросам связанным с товаром ненадлежащего качества товара, Покупатель имеет право обратиться в сервисные
            авторизованные сервисные центры, адреса которых указаны в гарантийном талоне.
            <br> Возврат и обмен товаров, со скрытыми дефектами выявленными в процессе эксплуатации производится на основаниях
            и в сроки, установленные Законом РФ «О защите прав потребителей».
            <br> Если в процессе эксплуатации товара у Вас возникли проблемы, пожалуйста, ознакомьтесь с инструкцией по эксплуатации
            товара. Как правило, на последних страницах инструкции есть раздел с часто возникающими вопросами покупателей,
            в котором описаны пути решения проблемы своими силами.
            <br> Для обмена товара ненадлежащего качества следует обратиться в авторизованный сервисный центр, для получения
            технического заключения. После получения заключения следует связаться с магазином и договориться о дате возврата
            денег или обмена на аналогичный товар.
            <br> Доставка негабаритного товара весом не более 5 кг. до сервисного центра и обратно покупатель осуществляет своими
            силами и за свой счет.
            <br> Возврат или обмен товаров ненадлежащего качества осуществляется бесплатно.</p>
          <p>
            <strong>Благодарим Вас за покупку в нашем интернет магазине!</strong>
          </p>
      </div>
    </section>

  </div>
</main>

{% endblock %}