{% extends "layouts/default.njk" %} {% set main = true %} {% block content %}


<main class="main">
  <div class="container">
    <div class="top-block">
      {% include "_partials/header.njk" %}
      <div class="breadcrumbs">
        <ul>
          <li>
            <a href="">главная</a>
          </li>
          <li>
            Новости
          </li>
        </ul>
      </div>
      <a href="" class="back-link">
        <svg class="back-arrow">
          <use xlink:href="#arrow-icon"></use>
        </svg>
        назад</a>
      <h1>Новости</h1>
    </div>

    <section class="main-block">
      <div class="article-content">
        <div class="news-item--date">4 июля 2018</div>
        <img src="images/news-image.png" class="news-image" alt="">
        <h2 class="article-title">Чайник Solo от Röndell — смелый дизайн в солнечном цвете.</h2>
        <p>Бренд Röndell  представляет своим почитателям новую модель чайника RDS -908 с эксклюзивным дизайном корпуса.  </p>
        <p>Чайник RDS-908 от Röndell  — истинная находка как для любителей качественно приготовленных  горячих напитков, так
          и для эстетов. В данной модели идеально сочетаются оригинальный дизайн и невероятная функциональность.</p>
        <p>Главным преимуществом модели является эксклюзивный дизайн корпуса: яркое  глянцевое покрытие  цвета  солнца  придает
          чайнику стильный вид, превращая его в оригинальное украшение кухни.  Такое дизайнерское   решение от Röndell позволяет
          чайнику выглядеть уникально, а также свидетельствует о хорошем вкусе его владельца. Яркий солнечный чайник гарантирует
          безупречный вид и создает настроение на целый день! Данная поверхность предполагает легкий уход: он надолго сохранит
          эстетичный внешний вид.  Корпус чайника выполнен из одного из самых экологичных материалов — высококачественной
          нержавеющей стали 18/10. Благодаря данному виду стали чайник устойчив к деформациям, сколам, ржавчине, образованию
          пятен и при этом в течение долгого времени сохраняет эстетичный внешний вид. Одновременно с этим такой материал
          гарантирует непревзойденный вкус Ваших горячих напитков, а воде позволит сохранить свои природные свойства. Благодаря
          толщине стенок стального корпуса 0,5 мм вода останется горячей в течение долгого времени — это значит, что Вам
          не придется перегревать воду. В чайнике данной модели предусмотрено капсулированное дно толщиной 2,0 мм, что обеспечивает
          наилучшее распределение и сохранение тепла.</p>
        <p>Еще одним уникальным дизайнерским решением чайника является эргономичное и в то же время стильное исполнение бакелитовой
          ручки:  удобно расположенная кнопка  для открывания свистка позволяет легко и безопасно наливать воду в чашки.
          Напыление Soft Touch на ручке,  приятно на ощупь и предотвращает скольжение руки во время обращения с чайником.</p>
        <p>В чайнике предусмотрен достаточно большой литраж – 3 литра. Благодаря такому объему Вы напоите любимыми горячими
          напитками всю семью или компанию гостей. Преимущество чайника также в том, что при большом объеме выглядит он компактно
          и эстетично. Еще одним преимуществом чайника RDS-908 является то, что он подходит для всех видов плит, включая
          индукционные плиты.
        </p>
        <a href="" class="back-link">
          <svg class="back-arrow">
            <use xlink:href="#arrow-icon"></use>
          </svg>
          назад</a>
      </div>
    </section>

    <div class="other-news">
      <h2>Другие новости</h2>
      <div class="news-list">
        <div class="news-item">
          <a href="news-inside.html" class="news-item--link"></a>
          <img class="news-item--image" src="images/news1.jpg" alt="">
          <div class="news-item--info">
            <div class="news-item--date">4 июля 2018</div>
            <div class="news-item--title">Коллекция Splendid от Röndell – технология классики.</div>
            <div class="news-item--text">Бренд Röndell представляет своим почитателям новую яркую коллекцию посуды из кованого алюминия Splendid.</div>
          </div>
        </div>
        <div class="news-item">
          <a href="news-inside.html" class="news-item--link"></a>
          <img class="news-item--image" src="images/news1.jpg" alt="">
          <div class="news-item--info">
            <div class="news-item--date">4 июля 2018</div>
            <div class="news-item--title">Коллекция Splendid от Röndell – технология классики.</div>
            <div class="news-item--text">Бренд Röndell представляет своим почитателям новую яркую коллекцию посуды из кованого алюминия Splendid.</div>
          </div>
        </div>
        <div class="news-item">
          <a href="news-inside.html" class="news-item--link"></a>
          <img class="news-item--image" src="images/news1.jpg" alt="">
          <div class="news-item--info">
            <div class="news-item--date">4 июля 2018</div>
            <div class="news-item--title">Коллекция Splendid от Röndell – технология классики.</div>
            <div class="news-item--text">Бренд Röndell представляет своим почитателям новую яркую коллекцию посуды из кованого алюминия Splendid.</div>
          </div>
        </div>
        <div class="news-item">
          <a href="news-inside.html" class="news-item--link"></a>
          <img class="news-item--image" src="images/news1.jpg" alt="">
          <div class="news-item--info">
            <div class="news-item--date">4 июля 2018</div>
            <div class="news-item--title">Коллекция Splendid от Röndell – технология классики.</div>
            <div class="news-item--text">Бренд Röndell представляет своим почитателям новую яркую коллекцию посуды из кованого алюминия Splendid.</div>
          </div>
        </div>        
      </div>
    </div>

  </div>
</main>

{% endblock %}