{% extends "layouts/default.njk" %} {% block content %}


<main class="main">
  <div class="container">
    <div class="top-block">
      {% include "_partials/header.njk" %}
      <div class="breadcrumbs">
        <ul>
          <li>
            <a href="">главная</a>
          </li>
          <li>
              Оплата
          </li>
        </ul>
      </div>
      <a href="" class="back-link"><svg class="back-arrow">
          <use xlink:href="#arrow-icon"></use>
        </svg>на главную</a>
      <h1>Оплата</h1>
    </div>

    <section class="main-block">
      <div class="page-nav">
        <ul>
          <li class="active">
            <a href="payment.html">Оплата</a>
          </li>
          <li>
            <a href="delivery.html">Доставка</a>
          </li>
          <li>
            <a href="info.html">Информация для покупателей</a>
          </li>
        </ul>
      </div>
      <div class="article-content">
          <p>Свой заказ Вы можете оплатить как наличными денежными средствами, так и Безналичным расчетом.</p>

          <p><strong>Оплата наличными деньгами. </strong> <br>
          Товар оплачивается Покупателем наличными денежными средствами при доставке товара немедленно после его приемки Покупателем. В подтверждение оплаты сотрудник, осуществляющий доставку, выдаст Вам чек – пожалуйста, сохраните его, - он выполняет функцию документа, подтверждающего заключение договора купли-продажи товара.</p> 
          
          <p><strong>Безналичный расчет.</strong> <br>
          Оплатить товар безналичным расчетом, Вы можете только при условии оформления заказа через сайт. Для этого нужно выбрать (Безналичный расчет) при оформлении заказа, после чего сайт переведет Вас на страницу платежной системы, где вы сможете оплатить заказ. О всех возможных способах оплаты заказа во можете узнать перейдя по ссылке. <a href="http://merchant.w1.ru/checkout/site/payments/" target="_blank">http://merchant.w1.ru/checkout/site/payments/</a> </p>
      </div>
    </section>

  </div>
</main>

{% endblock %}