{% extends "layouts/default.njk" %} {% block content %}


<main class="main">
  <div class="container">
    <div class="top-block">
      {% include "_partials/header.njk" %}
      <a href="" class="back-link product-back-link">
        <svg class="back-arrow">
          <use xlink:href="#arrow-icon"></use>
        </svg>к списку товаров
      </a>
      <div class="breadcrumbs">
        <ul>
          <li>
            <a href="">главная</a>
          </li>
          <li>
            <a href="">мелкая бытовая техника</a>
          </li>
          <li>
            пылесосы
          </li>
        </ul>
      </div>
    </div>

    <section class="main-block">
      <div class="product-card">
        <div class="product-card__image">
          <div class="slider-pro" id="my-slider">
            <div class="sp-slides">
              <!-- Slide 1 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>

              <!-- Slide 2 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>

              <!-- Slide 3 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>

              <!-- Slide 2 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>

              <!-- Slide 3 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>

              <!-- Slide 2 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>

              <!-- Slide 3 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>
              <!-- Slide 3 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>

              <!-- Slide 2 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>

              <!-- Slide 3 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>
              <!-- Slide 3 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>

              <!-- Slide 2 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>

              <!-- Slide 3 -->
              <div class="sp-slide">
                <img src="images/slider1.jpg" alt="">
              </div>
            </div>
            <div class="sp-thumbnails">
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
              <img class="sp-thumbnail" src="images/slider1.jpg" />
            </div>
          </div>
        </div>
        <div class="product-card__info">
          <h1>Пылесос с аквафильтром VITEK VT-1833 PR</h1>
          <p>Система фильтрации с применением аква- и НЕРА-фильтров в пылесосе VITEK VT-1833 PR позволяет блокировать микроэлементы.
            С помощью турбощетки можно удалить шерсть и волосы, что сделает уборку еще качественнее.</p>
          <div class="page-anchors">
            <a href="#page-nav" class="local-scroll">Характеристики</a>
            <a href="#page-nav" class="local-scroll">Аксессуары</a>
          </div>
          <div class="product-card__buttons">
            <div class="product-card__price">
              <span class="price">
                <strong>9990</strong> ₽</span>
              <span class="status">товар в наличии</span>
            </div>
            <a href="" class="btn btn-blue">В корзину</a>
            <a href="" class="btn btn-white">Купить в 1 клик</a>
          </div>
          <div class="special-offer">
            Нашли дешевле? Cнизим цену для вас!
          </div>
          <div class="special-info">
            <div class="special-info__item">
              <svg class="delivery-icon">
                <use xlink:href="#delivery-icon"></use>
              </svg>
              Бесплатная доставка от 3000 рублей
            </div>
            <div class="special-info__item">
              <svg class="like-icon">
                <use xlink:href="#like-icon"></use>
              </svg>
              Понравился пылесос с аквафильтром VITEK VT-1833 PR? Расскажи друзьям!
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="main-block">
      <div class="page-nav page-nav-flex" id="page-nav">
        <ul class="page-nav-left">
          <li class="active">
            <a href="#">Характеристики</a>
          </li>
          <li>
            <a href="delivery.html">О доставке</a>
          </li>
        </ul>
        <ul class="page-nav-right">
          <li class="active">
            <a href="#">Аксессуары</a>
          </li>
        </ul>
      </div>
      <div class="product-content">
        <div class="product-params" id="product-params">
          <table class="product-table">
            <tr>
              <td>Автоматическое сматывание шнура</td>
              <td>есть</td>
            </tr>
            <tr>
              <td>Вес</td>
              <td>7,3 кг</td>
            </tr>
            <tr>
              <td>Высота</td>
              <td>277 мм
              </td>
            </tr>
            <tr>
              <td>Глубина</td>
              <td>432 мм
              </td>
            </tr>
            <tr>
              <td> Ширина
              </td>
              <td>322 мм
              </td>
            </tr>
            <tr>
              <td>Длина сетевого шнура
              </td>
              <td>5 м
              </td>
            </tr>
            <tr>
              <td>Дополнительно
              </td>
              <td>Набор сменных фильтров VT-1863
              </td>
            </tr>
            <tr>
              <td>Индикатор заполнения пылесборника
              </td>
              <td>есть
              </td>
            </tr>
            <tr>
              <td>Источник питания
              </td>
              <td>сеть
              </td>
            </tr>
            <tr>
              <td>Мощность всасывания
              </td>
              <td>400 вт
              </td>
            </tr>
            <tr>
              <td>Ножной переключатель вкл./выкл.
              </td>
              <td>есть
              </td>
            </tr>
            <tr>
              <td>Объём пылесборника
              </td>
              <td>3,5 л
              </td>
            </tr>
            <tr>
              <td>Потребляемая мощность
              </td>
              <td>1800 вт
              </td>
            </tr>
            <tr>
              <td>Регулятор мощности на корпусе
              </td>
              <td>есть
              </td>
            </tr>
            <tr>
              <td>Тип
              </td>
              <td>стандартный
              </td>
            </tr>
            <tr>
              <td>Тип пылесборника
              </td>
              <td>аквафильтр
              </td>
            </tr>
            <tr>
              <td>Тип уборки
              </td>
              <td>сухая
              </td>
            </tr>
            <tr>
              <td>Труба всасывания
              </td>
              <td>телескопическая
              </td>
            </tr>
            <tr>
              <td>Турбощётка в комплекте
              </td>
              <td>есть
              </td>
            </tr>
            <tr>
              <td>Фильтр тонкой очистки
              </td>
              <td>есть
              </td>
            </tr>
            <tr>
              <td>Число ступеней фильтрации</td>
              <td>5</td>
            </tr>
          </table>
        </div>
        <div class="product-accesorise" id="product-accesorise">
          <div class="catalog-item technic">
            <a href="">
              <span class="label-new">
                NEW
              </span>
              <img src="images/good2.jpg" alt="" class="catalog-item--image">
              <div class="catalog-item-info">
                <div class="catalog-item--title">Пылесос без мешка для сбора пыли VITEK VT-8102 BD</div>
                <div class="catalog-item--price">5390 ₽</div>
              </div>

              <a href="" class="catalog-basket">
                <svg class="basket-icon">
                  <use xlink:href="#basket-icon" />
                </svg>
              </a>
            </a>
          </div>
          <div class="catalog-item technic">
            <a href="">
              <span class="label-new">
                NEW
              </span>
              <img src="images/good2.jpg" alt="" class="catalog-item--image">
              <div class="catalog-item-info">
                <div class="catalog-item--title">Пылесос без мешка для сбора пыли VITEK VT-8102 BD</div>
                <div class="catalog-item--price">5390 ₽</div>
              </div>

              <a href="" class="catalog-basket">
                <svg class="basket-icon">
                  <use xlink:href="#basket-icon" />
                </svg>
              </a>
            </a>
          </div>
          <div class="catalog-item technic">
            <a href="">
              <span class="label-new">
                NEW
              </span>
              <img src="images/good2.jpg" alt="" class="catalog-item--image">
              <div class="catalog-item-info">
                <div class="catalog-item--title">Пылесос без мешка для сбора пыли VITEK VT-8102 BD</div>
                <div class="catalog-item--price">5390 ₽</div>
              </div>

              <a href="" class="catalog-basket">
                <svg class="basket-icon">
                  <use xlink:href="#basket-icon" />
                </svg>
              </a>
            </a>
          </div>
          <a href="" class="btn btn-white">Все аксессуары для пылесосов</a>
          <p class="product-note">Более подробную информацию о покупке Пылесос с аквафильтром VITEK VT-1833 PR, вы можете получить позвонив по номеру
            +7 (495) 212-07-11. Наши специалисты с радостью проконсультируют вас и помогут сделать правильный выбор, подобрав
            оптимальную модель.</p>
        </div>

      </div>


    </section>
    <div class="brands-catalog">
      <h2 class="left-align">Вы уже смотрели</h2>
      <div class="catalog-block">
        <div class="catalog-item technic">
          <a href="">
            <img src="images/good1.jpg" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Пылесос без мешка для сбора пыли VITEK VT-8102 BD</div>
            <div class="catalog-item--price">5390 ₽</div>
            <a href="" class="catalog-basket">
              <svg class="basket-icon">
                <use xlink:href="#basket-icon" />
              </svg>
            </a>
          </a>
        </div>
        <div class="catalog-item technic">
          <a href="">
            <img src="images/good1.jpg" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Пылесос без мешка для сбора пыли VITEK VT-8102 BD</div>
            <div class="catalog-item--price">5390 ₽</div>
            <a href="" class="catalog-basket">
              <svg class="basket-icon">
                <use xlink:href="#basket-icon" />
              </svg>
            </a>
          </a>
        </div>
        <div class="catalog-item technic">
          <a href="">
            <img src="images/good2.jpg" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Пылесос без мешка для сбора пыли VITEK VT-8102 BD</div>
            <div class="catalog-item--price">5390 ₽</div>
            <a href="" class="catalog-basket">
              <svg class="basket-icon">
                <use xlink:href="#basket-icon" />
              </svg>
            </a>
          </a>
        </div>
        <div class="catalog-item technic">
          <a href="">
            <img src="images/good1.jpg" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Пылесос без мешка для сбора пыли VITEK VT-8102 BD</div>
            <div class="catalog-item--price">5390 ₽</div>
            <a href="" class="catalog-basket">
              <svg class="basket-icon">
                <use xlink:href="#basket-icon" />
              </svg>
            </a>
          </a>
        </div>
        <div class="catalog-item technic">
          <a href="">
            <img src="images/good2.jpg" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Пылесос без мешка для сбора пыли VITEK VT-8102 BD</div>
            <div class="catalog-item--price">5390 ₽</div>
            <a href="" class="catalog-basket">
              <svg class="basket-icon">
                <use xlink:href="#basket-icon" />
              </svg>
            </a>
          </a>
        </div>
        <div class="catalog-item technic">
          <a href="">
            <img src="images/good1.jpg" alt="" class="catalog-item--image">
            <div class="catalog-item--title">Пылесос без мешка для сбора пыли VITEK VT-8102 BD</div>
            <div class="catalog-item--price">5390 ₽</div>
            <a href="" class="catalog-basket">
              <svg class="basket-icon">
                <use xlink:href="#basket-icon" />
              </svg>
            </a>
          </a>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}