<div class="header-top">
  <div class="container">
    <div class="header-top--content">
      <div class="top-menu">
        <ul>
          <li>
            <a href="">О магазине</a>
          </li>
          <li>
            <a href="">Оплата</a>
          </li>
          <li>
            <a href="">Доставка</a>
          </li>
          <li>
            <a href="">Новости</a>
          </li>
        </ul>
      </div>
      <div class="header-menu">

        <a href="" data-toggle="modal" data-target="#search-modal" class="btn btn-link">
            <svg class="search-icon">
                <use xlink:href="#search-icon"></use>
              </svg>
            Поиск по сайту
          </a>
        <a href="" data-toggle="modal" data-target="#registration-modal" class="btn btn-link">
          <svg class="user-icon">
            <use xlink:href="#user-icon"></use>
          </svg>
          Личный кабинет
        </a>
      </div>
    </div>
  </div>
</div>