<div class="main-menu pink-menu">
    <ul class="nav-list">
        <li class="nav-item">
            <a href="" class="nav-link">
                <span class="menu-icon">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
                Каталог товаров
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <svg class="menu-icons" id="icon-kitchen">
                    <use xlink:href="#kitchen-icon"></use>
                </svg>
                Техника для кухни
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <svg class="menu-icons" id="icon-iron">
                    <use xlink:href="#iron-icon"></use>
                </svg>
                Техника для дома
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <svg class="menu-icons" id="icon-beauty">
                    <use xlink:href="#beauty-icon"></use>
                </svg>
                Персональный уход
            </a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">
                <svg class="menu-icons" id="icon-dishes">
                    <use xlink:href="#dishes-icon"></use>
                </svg>
                Посуда и аксессуары
            </a>
        </li>
    </ul>
</div>