<div class="top-content">
    <div class="mobile-header">
        <a href="" class="mobile-menu-link">
            <span class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </a>
        <a href="" data-toggle="modal" data-target="#search-modal" class="btn btn-link">
            <svg class="search-icon">
                <use xlink:href="#search-icon"></use>
            </svg>
        </a>
    </div>
    <div class="logo">
        <svg class="main-logo">
            <use href="#main-logo" />
        </svg>
        <div class="logo-text">Официальный Интернет-магазин
            <br>
            <strong>Golder Electronics </strong>
        </div>
    </div>
    <div class="header-contacts">
        <p class="header-tel">
            +7 (495) 212-07-11
        </p>
        <p class="header-shedule">пн-пт 09:00-18:00</p>
    </div>
    <div class="brand-logos">
        <a href="" target="_blank">
            <svg class="vitek-logo">
                <use href="#vitek-logo" />
            </svg>
        </a>
        <a href="" target="_blank">
            <svg class="rondell-logo">
                <use href="#rondell-logo" />
            </svg>

        </a>
        <a href="" target="_blank">
            <svg class="maxwell-logo">
                <use href="#maxwell-logo" />
            </svg>
        </a>
    </div>
    <a href="" class="basket-link">
        <div class="basket">
            <div class="basket-logo">
                <svg class="basket-icon">
                    <use href="#basket-icon" />
                </svg>
                <span>4</span>
            </div>
            <div class="basket-sum">9990 ₽</div>
        </div>
    </a>
</div>