
.btn {
	font-family: $font-primary-regular;
	font-weight: normal;
	font-style: normal;
	outline: none !important;
	transition: $transition-primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: inherit;
	// &:active {
	// 	box-shadow: none;
	// }
	// &:hover,
	// &:active {
	// 	transition: none;
	// }
}

.btn--primary {
	padding: 8px 25px 9px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	background-color: $color-primary;
	&:focus {
		color: #fff;
	}
	&:hover,
	&:active {
		color: $color-primary;
		background-color: rgba($color-primary, .7);
	}

	&.btn--success {
		// background-color: $color-green;
		box-shadow: 8px 8px 16px 0 rgba(#07021E, .1);
		&:focus {
			color: #fff;
		}
		&:hover,
		&:active {
			color: #fff;
			background-color: #4DBE73;
		}
		&:active  {
			box-shadow: inset -1px 1px 12px rgba(#07021E, .15), 5px 5px 16px 0 rgba(#07021E, .08);
		}
	}
}


.btn-header {
	color: #1F96A1;
	font-size: 18px;
	line-height: 18px;
	padding: 8px 14px 6px 10px;
	font-family: $font-primary-regular;
	svg {
		vertical-align: middle;
		display: inline-block;
		line-height: 18px;
		margin-bottom: 2px;
		margin-right: 5px;
	}
}

.btn-blue {
	background: #055fad;
	border-radius: 0px;
	vertical-align: middle;
	font-size: 16px;
	font-family: $font-primary-bold;
	color: #fff;
	padding: 17px 55px;
	&:hover {
		color: #fff;
		background:lighten(#055fad, 10%);
	}
	@media (max-width: 1500px) {
		font-size: 13px;
		padding: 13px 40px;
	}
}

.btn-red {
	background: #bd1547;
	border-radius: 0px;
	vertical-align: middle;
	font-size: 16px;
	font-family: $font-primary-bold;
	color: #fff;
	padding: 17px 55px;
	&:hover {
		color: #fff;
		background:lighten(#bd1547, 10%);
	}
	@media (max-width: 1500px) {
		font-size: 13px;
		padding: 13px 40px;
	}
}


.btn-white {
	background: #fff;
	border-radius: 0px;
	vertical-align: middle;
	font-size: 16px;
	font-family: $font-primary-bold;
	color: #2c3a57;
	padding: 17px 55px;
	border: 1px solid #2c3a57;
	&:hover {
		color: #fff;
		background:lighten(#2c3a57, 10%);
	}
	@media (max-width: 1500px) {
		font-size: 13px;
		padding: 13px 40px;
	}
}

.btn-link {
	padding: 0;
	text-transform: uppercase;
	&:hover {
		color: #bd1547;
		text-decoration: none;
	}
}
.btn-link:focus {
	color: inherit;
	text-decoration: none;
  }

  .transparent-filter {
	.bootstrap-select> .btn.dropdown-toggle {
		border: 0;
		text-transform: uppercase;
        font-size: 14px;
        font-family: "ibm_plex_sansbold", Helvetica, Arial, sans-serif;
	}
	.dropdown-menu {
		border: 0;
		background: #fff;
		border-radius: 0;
		font-weight: normal;
		font-family: $font-primary-regular;
		li {
			font-weight: normal;
			font-family: $font-primary-regular;
			a {
				text-transform: none;
				font-weight: normal;
				font-family: $font-primary-regular;
				padding: 10px 20px;
			}
			&:hover {
				a {
					background: #00aeef;
					color: #fff;
				}
			}
		}
	}
  }


 .bootstrap-select> .btn.dropdown-toggle {
	border-radius: 0;
	border: 1px solid #bcbdbe;
	font-size: 18px;
	color: #2c3a57;
	@media (max-width: 1170px) {
		font-size: 16px;
	}
	@media (max-width: 991px) {
		font-size: 14px;
	}
	@media (max-width: 640px) {
		font-size: 11px;
	}
  }

  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 10px solid #055fad;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.bootstrap-select.btn-group .dropdown-toggle .caret {
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -5px;
    vertical-align: middle;
}

.bootstrap-select > .btn.dropdown-toggle:active, .bootstrap-select > .btn.dropdown-toggle.active, .open > .bootstrap-select > .btn.dropdown-toggle {    
    background-color: transparent;
    border-color: 1px solid #bcbdbe;	
	color: #2c3a57;
	outline: none !important;
}

.bootstrap-select > .btn.dropdown-toggle:focus, .bootstrap-select > .btn.dropdown-toggle.focus {
    background-color: transparent;
    border-color: #bcbdbe;	
	color: #2c3a57;
	outline: none !important;
}

.bootstrap-select > .btn.dropdown-toggle:hover {
    background-color: transparent;
    border-color: #2c3a57;	
	color: #2c3a57;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 200px;
	@media (max-width: 640px) {
		width: 100px;
	}
}