
.btn {
	font-family: $font-primary-regular;
	font-weight: normal;
	font-style: normal;
	outline: none !important;
	transition: $transition-primary;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: inherit;
	&:active {
		box-shadow: none;
	}
	&:hover,
	&:active {
		transition: none;
	}
}

.btn--primary {
	padding: 8px 25px 9px;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	background-color: $color-primary;
	&:focus {
		color: #fff;
	}
	&:hover,
	&:active {
		color: $color-primary;
		background-color: rgba($color-primary, .7);
	}

	&.btn--success {
		// background-color: $color-green;
		box-shadow: 8px 8px 16px 0 rgba(#07021E, .1);
		&:focus {
			color: #fff;
		}
		&:hover,
		&:active {
			color: #fff;
			background-color: #4DBE73;
		}
		&:active  {
			box-shadow: inset -1px 1px 12px rgba(#07021E, .15), 5px 5px 16px 0 rgba(#07021E, .08);
		}
	}
}


.btn-header {
	color: #1F96A1;
	font-size: 18px;
	line-height: 18px;
	padding: 8px 14px 6px 10px;
	font-family: $font-primary-regular;
	svg {
		vertical-align: middle;
		display: inline-block;
		line-height: 18px;
		margin-bottom: 2px;
		margin-right: 5px;
	}
}

.btn-blue {
	background: #055fad;
	border-radius: 0px;
	vertical-align: middle;
	font-size: 16px;
	font-family: $font-primary-bold;
	color: #fff;
	padding: 17px 55px;
	&:hover {
		color: inherit;
		background:lighten(#055fad, 10%);
	}
	@media (max-width: 1500px) {
		font-size: 13px;
		padding: 13px 40px;
	}
}

.btn-link {
	padding: 0;
	text-transform: uppercase;
	&:hover {
		color: #bd1547;
		text-decoration: none;
	}
}