.catalog-block {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -9px;
    @media (max-width: 1170px) {
        margin: 0 -9px;
    }
    @media (max-width: 640px) {
        margin: 0 -3px;
    }
    .catalog-item {
        width: calc(16.666% - 18px);
        margin: 0 9px;
        background: #fff;
        position: relative;
        height: auto;
        margin-bottom: 20px;
        text-align: left;
        @media (max-width: 1170px) {
            margin: 0 5px 10px;
            width: calc(33.33% - 10px);
        }
        @media (max-width: 640px) {
            width: calc(50% - 6px);
            margin: 0 3px 6px;
        }
        &--title {
            margin-bottom: 5px;
        }
    }
}

.models-count {
    font-family: $font-primary-medium;
    font-size: 10px;
    color: #70859e;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 30px;
}

.brands-catalog {
    text-align: center
}

.category-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &.category-group-3 {
        .category-group__item {
            width: calc(33.33% - 10px);
            @media (max-width: 850px) {
                width: 100%;
            }
        }
    }
    &.category-group-4 {
        .category-group__item {
            width: calc(50% - 15px);
            @media (max-width: 850px) {
                width: 100%;
            }
        }
        img {
            max-height: 350px;
        }
    }
    &__item {
        width: calc(50% - 15px);
        margin-bottom: 20px;
        position: relative;
        overflow: hidden;
        @media (max-width: 850px) {
            width: 100%;
        }
        a {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 10;
        }
        img {
            max-width: 100%;
            width: 100%;
            transition: .5s;
            height: 100%;
            object-fit: cover;
            max-height: 450px;
            @media (max-width: 850px) {
                max-height: 275px !important;
            }
        }
        &:hover {
            .category-group__title {
                background: #003872;
                background: rgba(0, 56, 114, .4);
            }
            img {
                opacity: .8;
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
            }
        }
    }
    &__title {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 0 30px;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 35px;
        line-height: 38px;
        color: #fff;
        font-weight: bold;
        letter-spacing: -.25px;
        .category-group-3 & {
            font-size: 27px;
            line-height: 29px;
            @media (max-width: 1200px) {
                font-size: 27px;
            }
            @media (max-width: 640px) {
                font-size: 18px;
            }
        }
        @media (max-width: 1200px) {
            font-size: 27px;
        }
        @media (max-width: 640px) {
            font-size: 18px;
        }
    }
}

img.desktop {
    display: block;
    @media (max-width: 1200px) {
        display: none;
    }
}

img.tablet {
    display: none;
    @media (max-width: 1200px) and (min-width: 851px) {
        display: block;
    }
}

img.mobile {
    display: none;
    @media (max-width: 850px) {
        display: block;
    }
}

.good-list {
    display: flex;
    margin: 0 -9px;
    @media (max-width: 991px) {
        flex-wrap: wrap;
        margin: 0 0px;
    }
    .sidebar {
        width: calc(16.666% - 9px);
        margin: 0 9px;
        background: #fff;
        position: relative;
        flex-shrink: 0;
        padding: 20px;
        margin-bottom: 100px;
        transition: .3s;
        &.closed {
            padding: 0px 20px;
        }
        @media (max-width: 1360px) {
            width: calc(20% - 9px);
        }
        @media (max-width: 991px) {
            width: 100%;
            margin: 0 0 20px;
            display: flex;
            flex-wrap: wrap;
        }
        @media (max-width: 640px) {
            margin: 0 0 10px;
        }
    }
    .filters {
        display: flex;
        flex-wrap: wrap;
    }
    .center-goods {
        width: calc(83.334% - 9px); // margin: 0 -9px;
        @media (max-width: 1360px) {
            width: calc(80% - 9px);
        }
        @media (max-width: 991px) {
            width: 100%;
            margin: 0 0px;
        }
        .catalog-block {
            margin: 0 0px;
            @media (max-width: 991px) {
                margin: 0 -9px;
            }
            @media (max-width: 767px) {
                margin: 0 -5px;
            }
            @media (max-width: 640px) {
                margin: 0 -3px;
            }
        }
        .catalog-item {
            width: calc(20% - 18px);
            margin: 0 9px;
            background: #fff;
            position: relative;
            height: auto;
            margin-bottom: 20px;
            text-align: left;
            @media (max-width: 1360px) {
                width: calc(25% - 18px);
            }
            @media (max-width: 767px) {
                width: calc(33.33% - 10px);
                margin: 0 5px 10px;
            }
            @media (max-width: 640px) {
                width: calc(50% - 6px);
                margin: 0 3px 6px;
            }
        }
        .catalog-item--title {
            margin-bottom: 15px;
        }
    }
    input[type="checkbox"]+label {
        margin-right: 0;
        margin-bottom: 0;
        padding-left: 28px;
        position: relative;
    }
    input[type="checkbox"]+label:before {
        width: 18px;
        height: 18px;
        position: absolute;
        left: 0;
        top: 0;
    }
    input[type="checkbox"]:checked+label:after {
        width: 12px;
        height: 12px;
        left: 3px;
        top: 3px;
    }
}

.label-new {
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    color: #fff;
    background: #055fad;
    font-size: 10px;
    display: block;
    width: 33px;
    height: 33px;
    line-height: 33px;
    text-align: center;
}

.filter-item {
    font-size: 13px;
    max-width: 100%;
    &+.filter-item {
        margin-top: 25px;
    }
    @media (max-width: 991px) {
        width: 50%;
        padding-right: 20px;
        margin-bottom: 20px;
        &+.filter-item {
            margin-top: 0px;
        }
    }
    @media (max-width: 480px) {
        width: 100%;
    }
}

.filter-item__title {
    font-weight: bold;
    font-size: 20px;
    color: #2c3a57;
    margin-bottom: 15px;
}

.sidebar-toggle {
    display: none;
    @media (max-width: 991px) {
        display: block;
        width: calc(100% + 40px);
        flex-shrink: 0;
        background: #d9eaf9;
        position: relative;
        left: -20px;
        top: -20px;
        padding: 25px 20px;
        text-align: center;
        text-transform: uppercase;
        color: #2c3a57;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
        transition: .3s;
        @media (max-width: 640px) {
            padding: 15px 20px;
        }
        a {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            z-index: 100;
        }
        span {
            position: relative;
        }
        span:after {
            content: "";
            width: 10px;
            height: 10px;
            display: inline-block;
            border-top: 1px solid #3f4c66;
            border-right: 1px solid #3f4c66;
            transform: rotate(-45deg);
            position: absolute;
            right: -20px;
            top: 8px;
            transition: .3s;
        }
        .sidebar.closed & {
            top: 0;
            span:after {
                content: "";
                width: 10px;
                height: 10px;
                display: inline-block;
                border-top: 1px solid #3f4c66;
                border-right: 1px solid #3f4c66;
                transform: rotate(135deg);
                position: absolute;
                right: -20px;
                top: 1px;
                transition: .3s;
            }
        }
    }
}

.product-card {
    display: flex;
    @media(max-width: 1024px) {
        flex-wrap: wrap;
    }
    &__image {
        width: 50%;
        padding-right: 40px;
        @media(max-width: 1024px) {
            width: 100%;
        }
        @media(max-width: 991px) {
            padding-right: 0px;
        }
    }
    &__info {
        width: 50%;
        padding-right: 30px;
        @media(max-width: 1024px) {
            width: 100%;
        }
        h1 {
            width: 80%; // line-height: 55px;
            margin-bottom: 10px;
        }
        p {
            font-size: 18px;
            line-height: 27px;
            @media (max-width: 640px) {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    &__buttons {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 35px;
        .btn {
            width: 205px;
            padding-left: 0;
            padding-right: 0;
            @media (max-width: 1360px) {
                width:160px;
            }
            @media (max-width: 640px) {
                width: 130px;
            }
        }
        .btn+.btn {
            margin-left: 20px;
        }
        @media (max-width: 640px) {
            flex-wrap: wrap;
        }
    }
    &__price {
        font-weight: bold;
        margin-right: 40px;
        @media (max-width: 1360px) {
            margin-right: 15px;
        }
        @media (max-width: 1360px) {
            width: 100%;
            margin-bottom: 10px;
        }
        span.price {
            display: block;
            font-size: 35px;
            line-height: 40px;
            @media (max-width: 1360px) {
                font-size: 30px;
                line-height: 35px;
            }
            @media (max-width: 1280px) {
                font-size: 26px;
                line-height: 30px;
            }
            strong {
                font-family: 'ibm_plex_sansbold';
            }
        }
        span.status {
            font-size: 11px;
            text-transform: uppercase;
        }
    }
}

.slider-pro {
    max-width: calc(100% - 100px) !important;
    @media (max-width: 640px) {
        max-width: calc(100% - 50px) !important;
    }
}

.sp-slides {
    margin: 20px;
    img {
        max-width: 100%;
    }
}

.sp-thumbnail-container {
    border: 1px solid #e4e7ec;
    padding: 10px; // width: 133px !important;
    // height: 133px !important;
}

.sp-next-thumbnail-arrow:after,
.sp-next-thumbnail-arrow:before,
.sp-previous-thumbnail-arrow:after,
.sp-previous-thumbnail-arrow:before {
    background-color: #424f69;
}

.sp-thumbnail-arrow {
    position: absolute;
    display: block;
    width: 5px;
    height: 25px;
    cursor: pointer;
}

.sp-bottom-thumbnails .sp-next-thumbnail-arrow,
.sp-top-thumbnails .sp-next-thumbnail-arrow {
    right: 15px;
}

.sp-bottom-thumbnails .sp-previous-thumbnail-arrow,
.sp-top-thumbnails .sp-previous-thumbnail-arrow {
    left: 15px;
}

.page-anchors {
    margin: 30px 0;
    a {
        font-size: 20px;
        border-bottom: 1px dashed;
        font-family: 'ibm_plex_sansmedium';
        display: inline-block;
        &:hover {
            opacity: .8;
        }
        @media (max-width: 640px) {
            font-size: 16px;
        }
    }
    a+a {
        margin-left: 30px;
    }
}

.special-offer {
    font-size: 25px;
    color: #055fad;
    font-family: 'ibm_plex_sanssemibold';
    @media (max-width: 640px) {
        font-size: 20px;
        line-height: 24px;
    }
}

.special-info {
    margin-top: 35px;
}

.special-info__item {
    position: relative;
    padding-left: 45px;
    font-size: 13px;
    color: #2c3a57;
    margin-bottom: 15px;
    svg {
        position: absolute;
        left: 0;
    }
}

.product-content {
    display: flex;
    width: 100%;
    @media (max-width: 767px) {
        flex-wrap: wrap;
    }
}

.product-params {
    width: 60%;
    padding: 0 40px 0 20px;
    @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 20px;
    }
}

.product-accesorise {
    width: 40%;
    @media (max-width: 767px) {
        width: 100%;
    }
    .catalog-item {
        width: 100%;
        border: 1px solid #e4e7ec;
        height: auto;
        position: relative;
        margin-bottom: 15px;
        a {
            display: flex;
            align-items: center
        }
        a.catalog-basket {
            display: block;
        }
        img {
            width: 30%;
        }
        &__info {
            width: 70%;
            display: block;
        }
    }
}

.product-table {
    width: 100%;
    table-layout: fixed;
    tr {
        border-bottom: 1px solid #e6e9ef;
        td {
            height: 35px;
            width: 50%;
            padding: 10px 10px 0 0;
        }
    }
    tr td:first-child {
        width: 70%;
    }
    tr td:nth-child(2) {
        width: 30%;
    }
}

.product-note {
    font-size: 14px;
    margin-top: 40px;
}

.basket-order-container {
    .btn-group.bootstrap-select {
        margin-bottom: 15px;
        .btn.dropdown-toggle {
            height: 40px;
        }
    }
    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }
    .form-submit {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        @media (max-width: 480px) {
            flex-wrap: wrap;
            .form-meta {
                width: 100%;
                display: block;
                margin-bottom: 15px;
            }
        }
    }
    input[type="checkbox"]+label {
        margin-bottom: 5px;
    }
}

.basket-order-container {
    display: flex;
    @media (max-width: 991px) {
        flex-wrap: wrap;
    }
    .basket-order-half {
        width: 50%;
        padding-right: 50px;
        @media (max-width: 991px) {
            width: 100%;
            padding-right: 0;
        }
    }
    .form-control {
        margin-bottom: 15px;
    }
}

.basket-order--title {
    margin-bottom: 20px;
}

.radio-group {
    margin-bottom: 20px;
    input[type="radio"] {
        display: none;
    }
    label {
        font-weight: normal;
        font-size: 18px;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        font-family: $font-primary-regular;
        margin-bottom: 12px;
        margin-right: 15px;
        @media (max-width: 1280px) {
            font-size: 14px;
        }
        &:before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            border: 1px solid #414d67;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 3px;
            @media (max-width: 1280px) {
                width: 18px;
                height: 18px;
            }
        }
    }
    input[type="radio"]:checked+label {
        &:after {
            content: "";
            display: block;
            width: 12px;
            height: 12px;
            background: #414d67;
            position: absolute;
            left: 4px;
            top: 7px;
            border-radius: 50%;
            @media (max-width: 1280px) {
                width: 10px;
                height: 10px;
            }
        }
    }
}

.inputs-group {
    display: flex;
    justify-content: space-between;
    input.form-control {
        width: calc(20% - 12px);
    }
}

.input-half-container {
    display: flex;
    justify-content: space-between;
    @media (max-width: 640px) {
        flex-wrap: wrap;
    }
    .input-half-group {
        width: calc(50% - 10px);
        position: relative;
        @media (max-width: 640px) {
            width: 100%;
        }
        label {
            font-weight: normal;
            font-size: 18px;
            @media (max-width: 1280px) {
                font-size: 14px;
            }
        }
    }
}

.basket-order-result {
    margin-top: 25px;
    margin-bottom: 30px;
    .basket-order-result--item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        font-size: 18px;
        @media (max-width: 1280px) {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
    .basket-order-result--total {
        display: flex;
        justify-content: space-between;
        font-size: 30px;
        font-weight: bold;
        color: #2c3a57;
        @media (max-width: 1280px) {
            font-size: 25px;
        }
    }
}

.payment-result {
    background: #fbfbfb;
    margin: 40px 300px 150px;
    padding: 45px 140px;
    text-transform: uppercase;
    text-align: center;
    p {
        font-size: 30px;
        font-family: $font-secondary-regular;
        font-weight: bold;
        letter-spacing: -1px;
    }
    .hello-text {
        font-family: $font-secondary-regular;
        font-weight: bold;
        font-size: 30px;
        letter-spacing: -1px;
        color: #e52520;
        margin-bottom: 20px;
    }
    .note-text {
        font-size: 16px;
        text-transform: none;
    }
}

.payment-title {
    font-family: $font-secondary-regular;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: -2px;
    color: #e52520;
}

.main-block--title {
    text-align: center;
    font-size: 20px;
    border-bottom: 1px solid #f0f1f3;
    padding-bottom: 20px;
    margin-bottom: 25px;
    a {
        border-bottom: 1px dashed;
        outline: none;
    }
    @media (max-width: 991px) {
        font-size: 16px;
        margin-bottom: 15px;
        margin-top: 10px;
    }
}

.cart-table {
    font-size: 20px;
    @media (max-width: 1280px) {
        font-size: 16px;
    }
    @media (max-width: 767px) {
        tr {
            position: relative;
        }
    }
}

.delete-basket_item {
    @media (max-width: 767px) {
        position: absolute;
        right: 10px;
        top: 5px;
    }
    img {
        width: 25px;
        height: 25px;
    }
}

.delete-td {
    min-width: 0 !important;
    @media (max-width: 640px) {
        height: 0 !important;
        padding: 0 !important;
    }
}