
.form-control {
  height: 40px;
  padding: 10px 16px 12px;
  font-family: $font-primary-regular;
  font-size: 18px;
  border: 1px solid #bcbdbe;
  border-radius: 0;
  box-shadow: none;
  transition: border $transition-primary;
  text-align: left;
  @media (max-width: 1600px) {
    font-size: 16px;
  }
  &:hover {
    border-color: rgba($color-primary,.45);
    transition: none;
  }
  &:focus,
  &:active {
    border-color: rgba($color-primary, .7);
    box-shadow: 0 0 5px rgba($color-primary,.4); 
    transition: none;
  }
  &::-webkit-input-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:-moz-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &::-moz-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  &:-ms-input-placeholder {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }          
}

.form-group {
  margin-bottom: 10px;
  &.centered {
    text-align: center;
    input[type="checkbox"] + label {
      text-align: center;
    }
  }
  &.half {
    display: flex;
    justify-content: space-between;
    @media (max-width: 480px) {
      flex-wrap: wrap;
    }
    input {
      width: 48%;
      @media (max-width: 480px) {
        width: 100%;
        & + input {
          margin-top: 10px;
        }       
      }
    }
  }
}

.control-label {
	margin-bottom: 5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 500;
	cursor: default;
}

textarea {
	resize: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  outline: none !important;
  cursor: pointer;
  transition: $transition-primary;
}

// .select-wrapper {
//   position: relative;
//   z-index: 7;
//   &::after {
//     content: "";
//     position: absolute;
//     right: 10px;
//     top: 18px;
//     width: 10px;
//     height: 6px;
//     // background-image: url("../images/icon-arrow-gray.svg");
//     background-repeat: no-repeat;
//   }
//   .select {
//     width: 100%;
//     height: 40px;
//     padding: 8px 25px 8px 15px;
//     font-family: $font-primary-regular;
//     font-size: 16px;
//     // line-height: 14px;
//     line-height: 20px;
//     background: #fff;
//     // transition: $transition-primary;
//   }
// }

.help-block {
  font-family: $font-primary-regular;
  font-size: 12px;
}

// disabling yellow background for chromes autofill
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
}


input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
  & + label {
    padding-left: 0;
    margin-bottom: 15px;
    position: relative;
    font-size: 13px;
    margin-right: 30px;
    text-align: left;
    &:before {
      content: "";
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 1px solid #bcbdbe;
      margin-right: 10px;
      position: relative;
      top: 3px;
    }
    &:after  {
      content: "";
    }
  }
}

input[type="checkbox"]:checked + label {
  &:after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid #414d67;
    left: 3px;
    top: 6px;    
    background: #414d67;
  }
  &:before {   
    content: ""; 
    border: 1px solid #414d67;    
  }
}

.form {
  text-align: center;
  .btn {
    margin: 20px auto;
  }
}

.form-group {
  text-align: left;
}

.form-note {
  font-size: 11px;
  line-height: 18px;
  margin-bottom: 20px;
}