

.header-top {
    padding: 10px 0;
    &--content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    a.btn {
        vertical-align: middle;
        font-size: 11px;
        color: inherit;
        svg {
            vertical-align: top;
            margin-right: 5px;
        }
        &:hover {
            color: #bd1547;
        }
    }
    @media (max-width: 1170px) {
        display: none;
    }
}


.header-menu {
    a + a {
        margin-left: 80px;
    }
}

.mobile-header {
    display: none;
    @media(max-width:1170px) {
        display: block;
    }
}