
.icon {
	// styles
}

.svg-sprites {
	display: none;
}

#icon-kitchen {
	width: 30px;
	height: 30px;
}

#icon-iron {
	width: 38px;
	height: 25px;
}

#icon-beauty {
	width: 30px;
	height: 31px;
}

#icon-dishes {
	width: 30px;
	height: 25px;
}