
.icon {
	// styles
}

.svg-sprites {
	display: none;
}

#icon-kitchen {
	width: 30px;
	height: 30px;
	@media (max-width: 1366px) {
		width: 24px;
		height: 24px;
	}
}

#icon-iron {
	width: 38px;
	height: 25px;
	@media (max-width: 1366px) {
		width: 31px;
		height: 20px;
	}
}

#icon-beauty {
	width: 30px;
	height: 31px;
	@media (max-width: 1366px) {
		width: 24px;
		height: 25px;
	}
}

#icon-dishes {
	width: 30px;
	height: 25px;
	@media (max-width: 1366px) {
		width: 23px;
		height: 20px;
	}
}

.search-icon {
	color: #bd1547;
	fill: #bd1547;
	width: 15px;
	height: 15px;
	.mobile-header & {
		width: 23px;
		height: 23px;
		display: block;
		@media (max-width: 425px) {
			width: 18px;
			height: 18px;
		}
	}
}

.user-icon {
	color: #bd1547;
	fill: #bd1547;
	width: 14px;
	height: 15px;
}

.quest-icon {
	color: #bd1547;
	fill: #bd1547;
	width: 25px;
	height: 21px;
}

.call-icon {
	color: #bd1547;
	fill: #bd1547;
	width: 23px;
	height: 24px;
}
.menu-icon {
	display: inline-block;
	vertical-align: middle;
	margin-right: 15px;
	@media (max-width: 1170px) {
		margin-right: 50px;
	}
	@media (max-width: 640px) {
		margin-right: 20px;
	}
	
	span {
		display: block;
		background: #fff;
		width: 25px;
		height: 2.5px;
		@media (max-width: 1366px) {
			width: 20px;
			height: 2px;
		}
	}
	.mobile-menu-link & {
		span {
			background: #414d67;
			height: 4px;
			width: 26px;
			@media (max-width: 425px) {
				height: 3px;
				width: 20px;
			}
		}
		@media (max-width: 425px) {
			span + span {
				margin-top: 5px;
			}
		}
	}
	span + span {
		margin-top: 7px;
	}
}

.logout-icon {
	width: 19px;
	height: 15px;
}