.main-slider .swiper-slide {
    img {
        max-width: 100%;
        @media (max-width: 991px) {
            min-height: 315px;
            object-fit: cover;
            object-position: 100% center;
        }
        @media (max-width: 640px) {
            min-height: 240px;
        }
        @media (max-width: 380px) {
            min-height: 180px;
        }
    }
    .slide-content {
        top: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        color: #fff;
        padding: 25px 0 0 50px;
        width: 45%;
        @media (max-width: 1600px) {
            padding: 25px 0 0 45px;
        }
        @media (max-width: 1500px) {
            padding: 20px 0 0 35px;
            width: 55%;
        }
        @media (max-width: 1280px) {
            padding: 20px 0 0 20px;            
        }
        @media (max-width: 640px) {
            padding: 25px 0 0 20px;  
            width: 100%;      
            .btn-blue {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
            }  
        }
        
        &--category {
            font-size: 16px;
            margin-bottom: 20px;
            font-family: $font-primary-medium;
            @media (max-width: 1600px) {
                margin-bottom: 20px;
                font-size: 14px;
            }
            @media (max-width: 1500px) {
                margin-bottom: 10px;
                font-size: 13px;
            }
            @media (max-width: 1170px) {
                margin-bottom: 20px;
            }
            @media (max-width: 991px) {
                margin-bottom: 10px;
            }
            @media (max-width: 640px) {
                display: none;
                width: 60%;
            }
        }
        &--title {
            font-size: 45px;
            line-height: 50px;
            font-family: $font-primary-bold;
            margin-bottom: 30px;
            @media (max-width: 1600px) {
                font-size: 40px;
                line-height: 45px;
                margin-bottom: 25px;
            }
            @media (max-width: 1500px) {
                font-size: 36px;
                line-height: 38px;
                margin-bottom: 15px;
            }
            @media (max-width: 1170px) {
                margin-bottom: 25px;
            }
            @media (max-width: 991px) {
                margin-bottom: 15px;
            }
            @media (max-width: 640px) {
                font-size: 30px;
                line-height: 34px;
                margin-bottom: 30px;
                width: 70%;
            }
            @media (max-width: 480px)  {
                font-size: 24px;
                line-height: 28px;
            }
            @media (max-width: 380px)  {
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 20px;
            }
            
        }
        &--text {
            font-size: 18px;
            margin-bottom: 20px;
            @media (max-width: 1600px) {
                font-size: 16px;
            }
            @media (max-width: 1500px) {
                font-size: 15px;
            }
            p {
                margin-bottom: 3px;
                font-family: $font-primary-regular;
                @media (max-width: 1500px) {
                    margin-bottom: 0px;
                }
            }
            @media (max-width: 640px) {
                width: 70%;
            }
            @media (max-width: 480px)  {
                font-size: 13px;
                line-height: 18px;
            }
            @media (max-width: 380px)  {
                font-size: 10px;
                line-height: 15px;
            }
        }
    }
}

.catalog-slider {
    position: relative;
    .swiper-container {
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .swiper-slide {
        background: #fff;
    }
    .swiper-pagination {
        top: -50px;
        right: 0px;
        width: auto;
        text-align: right;
        bottom: auto;
        padding-right: 0px;
        @media (max-width: 1366px) {
            top: -40px;
        }
        @media (max-width: 1170px) {
            display: none;
        }
    }
    .swiper-pagination-bullet {
        background: #055fad;
        opacity: 1;
        outline: 0;
        .news-catalog & {
            background: #00aeef;
        }
    }
    .swiper-pagination-bullet-active {
        .news-catalog & {
            background: #bd1547;
        }
        background: #bd1547;
    }
    .swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 6px;
    }
}

.main-slider {
    width: 66.66%;
    @media (max-width: 1170px) {
        width: 100%;
        margin-bottom: 13px;
    }
    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 6px;
    }
    @media (max-width: 640px) {
        .swiper-slide {
            padding-bottom: 45px;
        }
    }
    .swiper-pagination {
        text-align: right;
        bottom: 20px;
        padding-right: 20px;
        width: auto;
        left: auto;
        right: 0;
        @media (max-width: 640px) {
            display: none;
        }
    }
    .swiper-pagination-bullet {
        opacity: 1;
        background: rgba(255, 255, 255, .25)
    }
    .swiper-pagination-bullet-active {
        background: #fff;
    }
}

.swiper-pagination-bullet {
    border-radius: 0;
    width: 18px;
    height: 18px;
    @media (max-width: 1140px) {
        width: 15px;
        height: 15px;
    }
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
    background: none;
    height: auto;
    width: auto;
    top: -17px;
    display: none;
    @media (max-width: 1170px) {
        display: block;
    }
    @media (max-width: 640px) {
        top: -11px
    }
    svg {
        width: 28px;
        height: 20px;
        color: #fff;
        fill: #fff;
        @media (max-width: 640px) {
            width: 22px;
            height: 18px;
        }
    }
    &:focus, &:active {
        outline: none;
    }
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
    background: none;
    height: auto;
    width: auto;
    top: -21px;
    left: auto;
    right: 70px;
    transform: rotate(180deg);
    display: none;
    @media (max-width: 1170px) {
        display: block;
    }
    @media (max-width: 640px) {
        top: -15px;
        right: 50px;
    }
    svg {
        width: 28px;
        height: 20px;
        color: #fff;
        fill: #fff;
        @media (max-width: 640px) {
            width: 22px;
            height: 18px;
        }
    }
    &:focus, &:active {
        outline: none;
    }
}