html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-primary-regular;
  background: #edf1f3;
  color: #2c3a57;
}

.container {
  margin: 0 auto;
  max-width: 1650px;
  width: 100%;
  padding: 0 40px;
  @media (max-width: 1400px) {
    padding: 0 20px;
  }
  @media (max-width: 1170px) {
    padding: 0 10px;
  }
}

.main {
  @media (max-width: 1170px) {
    margin: 10px auto;
  }
}

.footer-block {
  background: #fff;
  padding: 20px 20px 35px;
  @media (max-width: 1366px) {
    padding: 10px 10px 25px;
  }
  .main-menu {
    margin-top: 0;
    margin-bottom: 40px;
  }
  .footer-tel {
    font-family: $font-primary-bold;
    font-size: 20px;
    margin-bottom: 20px;
    @media (max-width: 1366px) {
      font-size: 17px;
    }
  }
  .footer-content {
    display: flex;
    align-items: flex-end;
    @media (max-width: 1170px) {
      flex-wrap: wrap;
    }
  }
  .footer-column {
    width: 33.33%;
    flex: 1;
    @media (max-width: 1170px) {
      width: 100%;
      flex: auto;
      text-align: center;
    }
    p {
      margin-bottom: 0;
      font-size: 13px;
      line-height: 17px;
      @media (max-width: 1366px) {
        font-size: 12px;
      }
    }    
  }
}